


// sourced from https://fonts.google.com/selection/embed

.open-sans-<uniquifier> { // <uniquifier>: Use a unique and descriptive class nam
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>; // <weight>: Use a value from 300 to 800
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
