


// sourced from https://fonts.google.com/selection/embed

.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.open-sans { 
    &__regular {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      // font-weight: ; // <weight>: Use a value from 300 to 800
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
    }
    &__bold {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500; // <weight>: Use a value from 300 to 800
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
        
    }
    &__bold-italic {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      // font-weight: <weight>; // <weight>: Use a value from 300 to 800
      font-style: italic;
      font-variation-settings:
      "wdth" 100;
    }
}

