


// sourced from https://fonts.google.com/selection/embed


// .rammetto-one-regular {
//   font-family: "Rammetto One", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }


@mixin rammetto-one-regular ($color){
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color;
}

@mixin open-sans { 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
  padding: 30px;
  &__regular {
    font-weight: 300; // <weight>: Use a value from 300 to 800
  }
    
  &__bold {
    font-weight: 500; // <weight>: Use a value from 300 to 800
  }
  &__bold-italic {
    font-weight: 500; // font-weight: <weight>; // <weight>: Use a value from 300 to 800
    font-style: italic;
  }
}

