.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-block-end: 0;
}

.open-sans__regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}
.open-sans__bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}
.open-sans__bold--italic {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  margin: 0;
  font-size: 60%;
  text-align: center;
}

.fa-mug-hot {
  color: #FAA196;
  transform: rotateY(180deg);
  scale: 150%;
  padding: 8px;
}

.fa-instagram {
  scale: 150%;
  padding: 8px;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: small;
  flex-direction: row;
  background-color: #689572;
  height: 350px;
}
header #header-left {
  width: 50vw;
  height: fit-content;
  padding: 0 8% 0 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}
header #header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50vw;
  height: 100%;
}
header #header-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h2 {
  color: white;
  font-size: small;
}

p {
  font-size: x-small;
}

button {
  color: white;
  background-color: #689572;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
}

.review-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: small;
  background-color: #FAA196;
  padding: 2% 5% 2% 5%;
  color: white;
  height: auto;
  font-size: large;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.review-section h1 {
  height: 50px;
  width: 85vw;
  text-align: center;
}
.review-section__reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
  height: 110px;
  width: 40vw;
  color: #404040;
  padding: 2%;
  margin: 5px;
  gap: 2%;
}
.review-section__reviewCard__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
}

nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: small;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12% 8px 8%;
}
nav a {
  text-decoration: none;
  color: #404040;
  font-size: x-small;
}

.div-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

* {
  box-sizing: border-box;
}

menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: small;
  padding: 5%;
  flex-direction: column;
  height: 500px;
  height: auto;
  gap: 10px;
}
menu h1 {
  color: #FAA196;
}
menu h2 {
  color: #404040;
  font-size: x-small;
}
menu i {
  color: #689572;
}

details {
  width: 100%;
  padding: 2vw;
}

summary {
  background-color: #EBC9C4;
  padding: 1% 2% 1% 2%;
}

i {
  scale: 80%;
}

p {
  font-size: 40%;
}

.menu__list {
  /* Flex container should be 900px wide, 300px tall */
  justify-self: center; /*Flex container should be centered on the page */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  background-color: white;
  gap: 2%;
}
.menu__list__item {
  /* Use percentages for the height and width of the card */
  display: flex;
  flex-direction: column;
  width: 32%;
  height: fit-content;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: #EBC9C4;
}
.menu__list__item img {
  height: fit-content;
  width: 100%;
  object-fit: cover;
  margin: 3px;
}
.menu__list__item__dietary {
  display: flex;
  flex-direction: row;
  gap: 1%;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: small;
  background-color: #82A289;
  flex-direction: row;
  width: 100;
  gap: 10px;
  padding: 10px 12% 10px 5%;
  justify-content: space-between;
  align-items: center;
}
footer i {
  transform: rotateY(180deg);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

i {
  padding: 0px;
}

/*# sourceMappingURL=output.css.map */
