
// Replicate the wireframe so that it looks good on your device, you will need to choose appropriate sizes for:
// o Font
// o Images
// o Margin
// o Padding

//o Style your page with SCSS. Use variables, partials, modules, mixins, any other features of SCSS you think will be useful
// o The layout should be created using flexbox 


//partials:
@use 'partials/colors';
// @use 'fonts'; MISTAKE, need to include the folder name
@use 'partials/fonts';
@use 'partials/icons';
@use 'partials/mixins';

// this is an OUTDATED way to do this, don't do it as its global
// @import "./colors";
// @import "./fonts";
// @import "./icons";


h1 {
    // color: colors.$leaf-green;
    
}

.content-wrapper {
    @include mixins.section-style;
    flex-direction: row;
    border: 1px dashed blue;
    width: 80vw;
    height:fit-content;
}


///////////////////////////// 1. NAVBAR-SECTION /////////////////////////////////


nav {
    @include mixins.section-style;
    flex-direction: row;
    padding-left: 50px;
    a {
        @include fonts.open-sans;
    }
}

///////////////////////////// 2. HEADER-SECTION /////////////////////////////////

header {
    @include mixins.section-style;
    flex-direction: row;
    background-color: colors.$leaf-green;
    
}

///////////////////////////// 3. MENU-SECTION /////////////////////////////////

menu{
    @include mixins.section-style;
    h1{@include fonts.rammetto-one-regular(colors.$bubble-pink)};
}


///////////////////////////// 4. REVIEW-SECTION /////////////////////////////////

.reviews {
    @include mixins.section-style;
    background-color: colors.$bubble-pink;
}

///////////////////////////// 5. FOOTER-SECTION /////////////////////////////////

footer {
    @include mixins.section-style;
    background-color: colors.$pale-green;
    flex-direction: row;
    width: 100;
    gap: 10px;
    :last-child {
        justify-self: right;
    }
} 
