
// Replicate the wireframe so that it looks good on your device, you will need to choose appropriate sizes for:
// o Font
// o Images
// o Margin
// o Padding

//o Style your page with SCSS. Use variables, partials, modules, mixins, any other features of SCSS you think will be useful
// o The layout should be created using flexbox 


//partials:
@use 'partials/colors';
// @use 'fonts'; MISTAKE, need to include the folder name
@use 'partials/fonts';
@use 'partials/icons';

// this is an OUTDATED way to do this, don't do it as its global
// @import "./colors";
// @import "./fonts";
// @import "./icons";


h1 {
    // color: colors.$leaf-green;
    @include fonts.rammetto-one-regular(white);
}



///////////////////////////// 1. NAVBAR-SECTION /////////////////////////////////

nav {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
        
    }
}

///////////////////////////// 2. HEADER-SECTION /////////////////////////////////

header {
    background-color: colors.$leaf-green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

///////////////////////////// 3. MENU-SECTION /////////////////////////////////

menu{
    border: 1px solid red;
    h1{@include fonts.rammetto-one-regular(colors.$bubble-pink)}
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


///////////////////////////// 4. REVIEW-SECTION /////////////////////////////////

.reviews {
    border: 1px solid red;
    background-color: colors.$bubble-pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

///////////////////////////// 5. FOOTER-SECTION /////////////////////////////////

footer {
    background-color: colors.$pale-green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100;
    gap: 10px;
    :last-child {
        justify-self: right;
    }
} 
