@use '../partials/mixins';
@use '../partials/colors';
@use '../partials/fonts';



///////////////////////////// 3. MENU-SECTION /////////////////////////////////

menu{
    @include mixins.section-style;
    padding: 5%;
    flex-direction: column;
    height: auto;
    gap: 10px;
    h1{
        color: colors.$bubble-pink;
    }
    
    i{
        color: colors.$leaf-green;
    }
    
}


details{
    background-color: colors.$dusty-rose;
    width: 100%;
    padding: 2vw;
    
}
