@use '../partials/mixins';
@use '../partials/colors';

///////////////////////////// 1. NAVBAR-SECTION /////////////////////////////////


nav {
    @include mixins.section-style;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 5% 10px 5%;

    //sticky nav bar
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;

    a {
        text-decoration: none;
        color: colors.$dark-choc;
        font-size:x-small;
        
    }
}


.div-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
.div-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

