@use '../partials/mixins';
@use '../partials/colors';

///////////////////////////// 1. NAVBAR-SECTION /////////////////////////////////


nav {
    @include mixins.section-style;
    flex-direction: row;
    justify-content:space-between;
    padding: 8px 12% 8px 8%;

    
    
    a {
        text-decoration: none;
        color: colors.$dark-choc;
        font-size:x-small;
        
    }
}



.div-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
.div-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

